  /******************************************************************

  Stylesheet: 900px以下のモニタで適用

  ******************************************************************/

  /*-------------------------------------------
  TOP、PRODUCTS
  -------------------------------------------*/
  .main__product-list li {
    width: 47%;
  }

  /*-------------------------------------------
  ITEM
  -------------------------------------------*/
  .main__item {
    flex-direction: column;
  }

  .main__img {
    width: 100%;
    margin-bottom: 30px;
  }

  .main__text {
    width: 100%;
  }
  /*-------------------------------------------
  COMPANY
  -------------------------------------------*/
  .main__company-info {
    flex-direction: column;
    
    & dt {
      width: 100%;
      border: none;
      padding-bottom: 5px;
    }
  
    & dd {
      width: 100%;
      padding-top: 5px;
    }
  }
  