/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-size: 0.875rem;
  color: $cBlack;
  min-height: 100vh;
  position: relative;
}
a {
  color: $cBlack;
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

/*
共通クラス
*/
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
  padding: 0 40px;
}
.content {
  padding-top: 120px;
  padding-bottom: 160px;
}
.site-title a {
  line-height: 1px;
  width: 180px;
  display: block;
}
.page-title {
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 30px;
}
// .font-sm {
//   font-size: 14px;
// }
// .font-md {
//   font-size: 17px;
// }
// .font-lr {
//   font-size: 17px;
// }
// .font-lg {
//   font-size: 25px;
// }
// .mb-sm {
//   margin-bottom: 16px !important;
// }
// .mb-lg {
//   margin-bottom: 80px !important;
// }
// .pb-sm {
//   padding-bottom: 16px !important;
// }
// .pb-lg {
//   padding-bottom: 80px !important;
// }
// .content-width {
//   width: 90%;
//   margin: 0 auto;
//   max-width: $contentMaxWidth;
// }
// .main-title {
//   @extend .font-lg;
//   font-weight: 600;
//   margin-bottom: 0;
//   display: block;
// }
// .sub-title {
//   @extend .font-sm;
//   color: $cSubTitle;
// }
// .flex {
//   display: flex;
//   flex-direction: column;
// }
  
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  width: 100%;
  height: 80px;
  background-color: $cWhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  
  & #navi {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    color: $cWhite;
    padding: 36px 50px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;

    & li {
      margin-bottom: 14px;

      & a {
        color: $cWhite;
      }
    }
  }

  & .toggle-btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;

    & span {
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $cBlack;
      border-radius: 4px;
      transition: all 0.5s;
      
      &:nth-child(1) {
        top: 10px;
      }
      
      &:nth-child(2) {
        bottom: 10px;
      }
    }
  }
  
  & #mask {
    display: none;
    transition: all 0.5s;
  }
}
/*
ハンバーガーメニューをクリックした時
*/
.open {
  & #navi {
    left: 0;
    opacity: 1;
  }

  & .toggle-btn span {
    background-color: $cWhite;

    &:nth-child(1) {
      transform: translateY(4px) rotate(-45deg);
    }
    
    &:nth-child(2) {
      transform: translateY(-4px) rotate(45deg);
    }
  }

  & #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
  }
}

/*-------------------------------------------
TOP、PRODUCTS
-------------------------------------------*/
.main {

  &__top {
    padding-top: 80px;
    padding-bottom: 160px;
  }

  &__product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    & li {
      width: 23%;
      margin-bottom: 40px;

      & img {
        margin-bottom: 10px;
        vertical-align: top;
      }
      
      & p {
        font-size: 0.75rem;
      }
    }
  }

  &__btn {
    display: block;
    text-align: center;
  }

  &__pagination {
    display: flex;
    justify-content: center;

    & li {
      padding: 0 20px;
    }
  }
}

/*-------------------------------------------
ITEM
-------------------------------------------*/
.main {

  &__item {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__img {
    width: 50%;
  }

  &__text {
    width: 42%;

    & p {
      margin-bottom: 30px;
      text-align: justify;
    }
  }

  &__item-info {
    display: flex;
    flex-wrap: wrap;

    & dt {
      width: 30%;
    }
    
    & dd {
      width: 70%;
    }
  }

}

/*-------------------------------------------
フッター
-------------------------------------------*/
.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  &__menu {
    display: flex;

    & li {
      font-size: 0.75rem;
      margin-right: 30px;
    }
  }

  &__copyright {
    font-size: 0.625rem;
  }
}